<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我是标题</title>
		<script src="../vue.js" type="text/javascript" charset="UTF-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
	</head>
	<body>
		<h1>Vue入门测试</h1>

		<div id="app">

			<button-counter>
				<template #input>
					具名插槽
				</template> -->
				<template v-slot:default>
					<h1> 改吧来的说的欧舒丹</h1>
				</template>
			</button-counter><br />
			<input type="checkbox" id="checkbox" v-model="seen" />
			<label for="checkbox">{{ seen }}</label>

			<div>
				<select v-model="seen">
					<option disabled value="">请选择</option>
					<option>A</option>
					<option>B</option>
					<option>C</option>
				</select>
				<span>Selected : {{ seen }}</span>
			</div>

			<div>
				<p> 两个嵌套循环</p>
				<ul v-for="set in sets">
					<li v-for="n in even(set)">{{ n }}</li>
					<p>------------------------------</p>
				</ul>
			</div>

			<div style="margin-bottom: 20px; margin-top: 10px;">
				<span v-for="n in 100">
					{{ n }}
				</span>
			</div>

			<template v-if="loginType === 'username'">
				<label>UserName</label>
				<input placeholder="Enter your Name" key="useNmae" />
			</template>
			<template v-else>
				<label>Email</label>
				<input placeholder="Enter your email address" key="useUmeail" />
			</template>
			<br />
			<button @click="changeLoginType()">修改登录方式</button>

			<div id="ask_example" class="static" v-bind:class="{ active: isActive, 'text-danger': hassError }">
				<p>
					Ask a yes/no questioin:
					<input v-model="question" />
				</p>

				<p>{{ answer }}</p>
			</div>

			<div v-bind:style="{ color : activeColor,fontSize:fontSize + 'px' }">
				Say hi
			</div>

			<div :style="styleObject">
				Hello there
			</div>

			<h4>
				{{ message }}
			</h4>
			<span v-bind:title="data">
				鼠标悬停几秒钟查看此处动态绑定的提示信息！
			</span>

			<div style="margin-top: 20px;">
				<a v-bind:href="url" target="_blank">
					<h1>模板语法</h1>
				</a>
			</div>

			<p>javascript 运算符号 {{ number + 12 }}</p>
			<h3>{{ number + 20 > 20 ? 'Yes,bigger than 20' : 'No' }}</h3>

			<div v-bind:class="color">test...</div>


			<p> Use {{ rawhtml }} </p>
			<p v-html="rawhtml"></p>

			<p v-if="seen">现在你看到我了</p>

			<div id="todo-list-example">
				<form v-on:submit.prevent="addNewTodo()">
					<label for="new-todo">Add a todo</label>
					<input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat" />
					<button>Add</button>
				</form>

				<ul>
					<todo-item v-for="(todo,index) in todos" v-bind:todo="todo" v-bind:key="todo.id" v-on:remove="todos.splice(index,1)">
						<template v-if="index % 2 === 0" #todo>
							Again 额外添加的---> {{todo.id}}
						</template>
					</todo-item>
				</ul>
			</div>

			<div>
				<todo-items v-bind:todos="todos">
					<template  #todo="{todo}" >
						<span v-if="todo.id % 2 === 0">修改---》{{ todo.id }}: {{ todo.text}}</span>
					</template>
				</todo-items>
			</div>

			<li v-for="(todo,index) in todos" :key="todo.id">
				<span v-html="rawhtml"></span>-{{ todo.text }}---{{ index }}
			</li>

			<div v-if="type === 'A'">A</div>
			<div v-else-if="type === 'B'">B</div>
			<div v-else-if="type === 'C'">C</div>
			<div v-else>Not A B C is't {{ type }}</div>

			<h2 v-show="seen">有Dom元素在，只是通过css属性改变显示或者隐藏</h2>

			<button @click="reverseMessage()">反转消息</button>
			<br />
			<input v-model="message" />
			<br />
			<textarea style="margin-top: 30px;" v-model="message" placeholder="输入多行"></textarea>

			<div>
				<ol>
					<todo-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.id"></todo-item>
				</ol>
			</div>

			<ul id="v-for-object" class="demo">
				<li v-for="(value,key,index) in styleObject">
					{{ key }} : {{ value }}---{{ index }}
				</li>
			</ul>
		</div>



		<script type="text/javascript">
			Vue.component('todo-items', {
				props: {
					todos: Array
				},
				template: `
				<ul>
					<li v-for="todo in todos" 
						v-bind:key="todo.id">
							<slot name="todo" 
								v-bind:todo="todo">
									{{ todo.text}}
							</slot>
					</li>
				</ul>
				`
			})

			Vue.component('todo-item', {
				props: ['todo'],
				template: `
					<li>
						{{ todo.text }} ----》 
						<slot name="todo" 
							v-bind:todo="todo"> 
								后备内容：{{ todo.text}}
						</slot>  
						-----> 
						<button 
							v-on:click="$emit(\'remove\')">
							移除
						</button>
					</li>
				`
			})

			Vue.component('button-counter', {
				data: function() {
					return {
						count: 1
					}
				},
				template: `
					<div>
						<button 
							v-on:click="count++">
								You Clicked me {{ count }} times.
						</button>
						<slot name="input">
							<h4>我是后备内容</h4>
						</slot>
						<slot>
							<h1>后备内容</h1>
						</slot>
					</div>
				`
			})

			var debouncedGetAnswer = function() {}

			var vm = new Vue({
				el: "#app",
				data: {
					loginType: 'username',
					styleObject: {
						color: 'blue',
						fontSize: '20px',
						background: 'red'
					},
					sets: [
						[1, 2, 3, 4, 5],
						[6, 7, 8, 9, 10]
					],
					activeColor: 'blue',
					fontSize: 20,
					isActive: true,
					hassError: true,
					answer: 'I cannot give you an answer until you ask a question!',
					question: '',
					url: "https://cn.vuejs.org/v2/guide/syntax.html",
					number: 10,
					type: "B",
					color: 'blue',
					message: "Hello Vue.js",
					data: '传过来的数据---》页面加载于。。' + new Date().toLocaleDateString(),
					seen: true,
					todos: [{
							id: 1,
							text: '第一行'
						},
						{
							id: 2,
							text: '第二行'
						},
						{
							id: 3,
							text: '第三行'
						},
						{
							id: 4,
							text: '第四行啊啊啊'
						}
					],
					nextTodoId: 5,
					newTodoText: '',
					rawhtml: '<span style = "color:blue"> this is shoule be red</span>'
				},
				methods: {
					even: function(numbers) {
						return numbers.filter(function(number) {
							return number % 2 == 0
						})
					},
					addNewTodo: function() {
						if (this.newTodoText) {
							this.todos.push({
								id: this.nextTodoId++,
								text: this.newTodoText,
							})
							this.newTodoText = ''
						} else {
							alert("输入不能为空")
						}

					},
					changeLoginType: function() {
						this.loginType = this.loginType === 'username' ? 'userEmial' : 'username'
					},
					reverseMessage: function() {
						this.message = this.message.split('').reverse().join('')
					},
					getAnswer: function() {
						if (this.question.indexOf('?') === -1) {
							this.answer = 'Questions usually contain a question mark. ;-)'
							return
						}

						this.answer = 'Thingking....'
						var vm = this
						axios.get('https://yesno.wtf/api')
							.then(function(response) {
								vm.answer = _.capitalize(response.data.answer)
							})
							.catch(function(error) {
								vm.answer = 'Error! Could not reach the API. ' + error
							})
					}
				},
				watch: {
					question: function(newQuestion, oldQuestion) {
						this.answer = 'Waiting for you to stop typing...'
						this.debouncedGetAnswer()
					}
				},
				created: function() {
					this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
				}
			})

			vm.$watch('message', function(newVal, oldVal) {
				console.log("newVal:-" + newVal + "Oldval:-" + oldVal)
			})

			console.log('Vue版本：' + Vue.version)
			setTimeout(function() {
				vm.message = "我通过延时改变了-----"
			}, 3000)
		</script>

		<style type="text/css">
			.red {
				color: red;
			}

			.blue {
				color: blue;
				font-size: 40px;
			}

			.static {
				text-align: center;
				padding-top: 40px;
				padding-left: 40px;
				padding-bottom: 40px;
				background: #FF0000;
			}

			.active {
				font-size: 20px;
			}

			.text-danger {
				color: blue;
			}
		</style>
	</body>
</html>
