<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue Component Blog Post Example</title>
		<script type="text/javascript" src="../vue.js" charset="UTF-8"></script>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
	</head>
	<body>

		<div id="dynamic-component-demo">
			<button v-for="tab in tabs" v-bind:key="tab" @click="currentTab = tab" :class="['tab-button',{active : currentTab === tab}]">{{ tab }}</button>

			<keep-alive>
				<transition name="fade" mode="out-in">
					<component v-bind:is="currentTabComponent" class="tab"></component>
				</transition>
			</keep-alive>

			<div id="list-demo" class="demo">
				<button class="list-button" @click="add">Add</button>
				<button class="list-button" @click="remove">Remove</button>
				<button class="list-button" @click="shuffle">Shuffle</button>
				<transition-group name="list" tag="h1">
					<span v-for="item in items" v-bind:key="item" class="list-item">
						{{ item }}
					</span>
				</transition-group>
			</div>

			<div id="staggered-list-demo">
				<input v-model="query" />
				<transition-group name="staggered-fade" tag="ul" v-bind:css="false" @before-enter="beforeEnter" @enter="enter"
				 @leave="leave">
					<li v-for="(item,index) in computelist" v-bind:key="item.msg" v-bind:data-index="index">
						{{ item.msg }}
					</li>
				</transition-group>
			</div>

		</div>

		<script>
			Vue.component("tab-posts", {
				data: function() {
					return {
						posts: [{
								id: 1,
								title: "Cat Ipsum",
								content: "<p>Dont wait for the storm to pass, dance in the rain kick up litter decide to want nothing to do with my owner today demand to be let outside at once, and expect owner to wait for me as i think about it cat cat moo moo lick ears lick paws so make meme, make cute face but lick the other cats. Kitty poochy chase imaginary bugs, but stand in front of the computer screen. Sweet beast cat dog hate mouse eat string barf pillow no baths hate everything stare at guinea pigs. My left donut is missing, as is my right loved it, hated it, loved it, hated it scoot butt on the rug cat not kitten around</p>"
							},
							{
								id: 2,
								title: "Hipster Ipsum",
								content: "<p>Bushwick blue bottle scenester helvetica ugh, meh four loko. Put a bird on it lumbersexual franzen shabby chic, street art knausgaard trust fund shaman scenester live-edge mixtape taxidermy viral yuccie succulents. Keytar poke bicycle rights, crucifix street art neutra air plant PBR&B hoodie plaid venmo. Tilde swag art party fanny pack vinyl letterpress venmo jean shorts offal mumblecore. Vice blog gentrify mlkshk tattooed occupy snackwave, hoodie craft beer next level migas 8-bit chartreuse. Trust fund food truck drinking vinegar gochujang.</p>"
							},
							{
								id: 3,
								title: "Cupcake Ipsum",
								content: "<p>Icing dessert soufflé lollipop chocolate bar sweet tart cake chupa chups. Soufflé marzipan jelly beans croissant toffee marzipan cupcake icing fruitcake. Muffin cake pudding soufflé wafer jelly bear claw sesame snaps marshmallow. Marzipan soufflé croissant lemon drops gingerbread sugar plum lemon drops apple pie gummies. Sweet roll donut oat cake toffee cake. Liquorice candy macaroon toffee cookie marzipan.</p>"
							}
						],
						selectedPost: null
					}
				},
				template: `
				<div class="posts-tab">
					<ul class = "posts-sidebar">
						<li
							v-for="post in posts"
							v-bind:key="post.id"
							v-bind:class="{ selected : post === selectedPost }"
							@click="selectedPost = post">
							{{ post.title }}
						</li>
					</ul>
					<div class = "selected-post-container">
						<div v-if="selectedPost" class = "selected-post">
							<h3> {{ selectedPost.title }} </h3>
							<div v-html="selectedPost.content"></div>
						</div>
						<strong v-else>
							 Click on a blog title to the left to view it.
						</strong>
					</div>
				</div>
				`
			})


			Vue.component("tab-archive", {
				template: `
					<div> Archive components </div>
				`
			})


			var vm = new Vue({
				el: "#dynamic-component-demo",
				data: {
					query: '',
					list: [{
							msg: 'Bruce Lee'
						},
						{
							msg: 'Jackie Chan'
						},
						{
							msg: 'Chuck Norris'
						},
						{
							msg: 'Jet Li'
						},
						{
							msg: 'Kung Fury'
						}
					],
					currentTab: "Posts",
					tabs: ["Posts", "Archive"],
					items: [1, 2, 3, 4, 5, 6, 7, 8],
					nextNum: 9
				},
				methods: {
					beforeEnter: function(el) {
						el.style.opacity = 0
						el.style.height = 0
					},
					enter: function(el, done) {
						var delay = el.dataset.index * 150
						setTimeout(function() {
							Velocity(
								el, {
									opacity: 1,
									height: '1.6em'
								}, {
									complete: done
								}
							)
						}, delay)

					},
					leave: function(el, done) {
						var delay = el.dataset.index * 150
						setTimeout(function() {
							Velocity(
								el, {
									opacity: 0,
									height: 0
								}, {
									complete: done
								}
							)
						}, delay)
					},
					randomIndex: function() {
						return Math.floor(Math.random() * this.items.length)
					},
					add: function() {
						this.items.splice(this.randomIndex(), 0, this.nextNum++)
					},
					remove: function() {
						this.items.splice(this.randomIndex(), 1)
					},
					shuffle: function() {
						this.items = _.shuffle(this.items)
					}
				},
				computed: {
					computelist: function() {
						var vm = this
						return this.list.filter(function(item) {
							return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
					},
					currentTabComponent: function() {
						return "tab-" + this.currentTab.toLowerCase()
					}
				}
			})
		</script>
	</body>
</html>
